{% extends "::base.html.twig" %}

{% block title %}CorncakesMemberBundle:Church:index{% endblock %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <br>
            <h3>Welcome to the index page</h3>
            <hr>
        </div>
        <div class="large-12 columns">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Dirección</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for church in churches %}
                        <tr>
                            <td>{{ church.name }}</td>
                            <td>{{ church.name }}</td>
                            <td>{{ church.address }}</td>
                            <td>
                                <div class="button-group">
                                    <a class="success button">View</a>
                                    <a class="warning button">Edit</a>
                                    <a class="alert button">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
